.App {
  text-align: center;
}

/* .top-1{
  height: auto;
  border: 1px solid red;
  width: auto;
} */
/* .btn-size-1{
  width : 552px;
} */
.btn-size-2{
  width : 56px;

}
.txt{
  text-align: right;
}
.wrp{
  width: 350px;
  height: auto;
  border: 1px ;
  padding: 2px;
  margin-top: 120px;
  /* background-image: asstes\bg1.jpg; */
  background-color: lightblue;
  /* background: transparent rgba(25, 25, 25, 0.15); */
}